
<div class="container-fluid mt-3">
    <app-main></app-main>
  <div class="courses">

    <div class="col-12 row w-75 p-3 pb-5">
      <div class="col-2 border-right">
          <app-cards [course]="card1"></app-cards>
      </div>
      <div class="col-2 border-right">
        <app-cards [course]="card2"></app-cards>
      </div>
      <div class="col-2 border-right">
        <app-cards [course]="card3"></app-cards>
      </div>
      <div class="col-2 border-right">
          <app-cards [course]="card4"></app-cards>
      </div>
      <div class="col-2 border-right">
        <app-cards [course]="card5"></app-cards>
      </div>
      <div class="col-2 border-right">
        <app-cards [course]="card5"></app-cards>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid">

  <div class="d-flex row pl-4">
    <div class="box1">
      
      <app-search-box></app-search-box>
      
      <app-contact-sub-data></app-contact-sub-data>

    </div>

    <div class="col-8">
      <div class="container row">
        <div class="col-1">
            <img src="avatar.jpg" class="avatar1" alt="">
        </div>
    
        <div class="colomn mb-3">
            <div><h4>All Referrers list</h4></div>
            <div><h6 class="text-secondary">53 people refferred</h6></div>
        </div>
    </div>

    <div class="container">
      <div class="row">
          <div class="col-3 border-right">
              <app-cards [course]="card7"></app-cards>
          </div>
          <div class="col-3">
              <app-cards [course]="card8"></app-cards>
          </div>
      </div>
  
      <div class="col-10 pt-3 d-flex justify-content-start">
          <app-search-box></app-search-box>
      </div>

      <hr>

      <app-all-referrers></app-all-referrers>

    </div>
</div>