<label>User Name</label>
    <input type="text" #myuser class="form-control mb-3" placeholder="Enter Your Name" [(ngModel)]="newServerName">

<label>E-Mail</label>
    <input type="text" #myuser class="form-control" placeholder="Enter Your E-Mail" [(ngModel)]="newServerContent">

<br>

<button
    class="btn btn-primary"
    (click)="onClick(myuser)">Add User
</button>

<div class="panel panel-default" *ngFor="let element of serverElements">
    <div class="panel-heading">
        {{ element.name }}
    </div>
        <div class="panel-body">
            <p>
                <strong *ngIf="element.type === 'server'" >
                    {{ element.content }}
                </strong>
            </p>
        </div>
    </div>