        <table>
            <tr class="border-bottom">
                <th>
                    <input type="checkbox" class="pr-5 mr-5 pr-5 ml-5 mb-4">
                </th>
                <th>
                    Name
                </th>
                <th>
                   Status
                </th>
                <th>
                    Referred by
                </th>

            <tr class="border-bottom">
                <th>
                    <input type="checkbox" class="pr-5 mr-5 pr-5 ml-5 mb-4">
                </th>
                <th>
                   <div class="row">
                        <div>
                            <img src="avatar.jpg" class="avatar" alt="">
                        </div>
                        <div class="colomn mb-3 pl-1">
                            <div>
                                <h6 class="ml-1">
                                    All Referrers list
                                </h6>
                            </div>
                            <div>
                                <h6 class="ml-1 text-secondary">
                                    53 people refferred
                                </h6>
                            </div>
                        </div>
                   </div>
                </th>
                <th>
                    <h1 class="badge badge-success">migrated</h1> 
                </th>
                <th>
                    <div class="row">
                        <div>
                            <img src="avatar.jpg" class="avatar" alt="">
                        </div>
                        <div class="colomn mb-3 pl-1">
                            <div>
                                <h6 class="ml-1">
                                    All Referrers list
                                </h6>
                            </div>
                            <div>
                                <h6 class="ml-1 text-secondary">
                                    53 people refferred
                                </h6>
                            </div>
                        </div>
                   </div>
                </th>
            </tr>

            <tr class="border-bottom">
                <th>
                    <input type="checkbox" class="pr-5 mr-5 pr-5 ml-5 mb-4">
                </th>
                <th>
                   <div class="row">
                        <div>
                            <img src="avatar.jpg" class="avatar" alt="">
                        </div>
                        <div class="colomn mb-3 pl-1">
                            <div>
                                <h6 class="ml-1">
                                    All Referrers list
                                </h6>
                            </div>
                            <div>
                                <h6 class="ml-1 text-secondary">
                                    53 people refferred
                                </h6>
                            </div>
                        </div>
                   </div>
                </th>
                <th>
                    <h1 class="badge badge-success">migrated</h1>
                </th>
                <th>
                    <div class="row">
                        <div>
                            <img src="avatar.jpg" class="avatar" alt="">
                        </div>
                        <div class="colomn mb-3 pl-1">
                            <div>
                                <h6 class="ml-1">
                                    All Referrers list
                                </h6>
                            </div>
                            <div>
                                <h6 class="ml-1 text-secondary">
                                    53 people refferred
                                </h6>
                            </div>
                        </div>
                   </div>
                </th>
            </tr>

            <tr class="border-bottom">
                <th>
                    <input type="checkbox" class="pr-5 mr-5 pr-5 ml-5 mb-4">
                </th>
                <th>
                   <div class="row">
                        <div>
                            <img src="avatar.jpg" class="avatar" alt="">
                        </div>
                        <div class="colomn mb-3 pl-1">
                            <div>
                                <h6 class="ml-1">
                                    All Referrers list
                                </h6>
                            </div>
                            <div>
                                <h6 class="ml-1 text-secondary">
                                    53 people refferred
                                </h6>
                            </div>
                        </div>
                   </div>
                </th>
                <th>
                    <h1 class="badge badge-success">migrated</h1>
                </th>
                <th>
                    <div class="row">
                        <div>
                            <img src="avatar.jpg" class="avatar" alt="">
                        </div>
                        <div class="colomn mb-3 pl-1">
                            <div>
                                <h6 class="ml-1">
                                    All Referrers list
                                </h6>
                            </div>
                            <div>
                                <h6 class="ml-1 text-secondary">
                                    53 people refferred
                                </h6>
                            </div>
                        </div>
                   </div>
                </th>
            </tr>

            <tr class="border-bottom">
                <th>
                    <input type="checkbox" class="pr-5 mr-5 pr-5 ml-5 mb-4">
                </th>
                <th>
                   <div class="row">
                        <div>
                            <img src="avatar.jpg" class="avatar" alt="">
                        </div>
                        <div class="colomn mb-3 pl-1">
                            <div>
                                <h6 class="ml-1">
                                    All Referrers list
                                </h6>
                            </div>
                            <div>
                                <h6 class="ml-1 text-secondary">
                                    53 people refferred
                                </h6>
                            </div>
                        </div>
                   </div>
                </th>
                <th>
                    <h1 class="badge badge-success">migrated</h1>
                </th>
                <th>
                    <div class="row">
                        <div>
                            <img src="avatar.jpg" class="avatar" alt="">
                        </div>
                        <div class="colomn mb-3 pl-1">
                            <div>
                                <h6 class="ml-1">
                                    All Referrers list
                                </h6>
                            </div>
                            <div>
                                <h6 class="ml-1 text-secondary">
                                    53 people refferred
                                </h6>
                            </div>
                        </div>
                   </div>
                </th>
            </tr>

            <tr class="border-bottom">
                <th>
                    <input type="checkbox" class="pr-5 mr-5 pr-5 ml-5 mb-4">
                </th>
                <th>
                   <div class="row">
                        <div>
                            <img src="avatar.jpg" class="avatar" alt="">
                        </div>
                        <div class="colomn mb-3 pl-1">
                            <div>
                                <h6 class="ml-1">
                                    All Referrers list
                                </h6>
                            </div>
                            <div>
                                <h6 class="ml-1 text-secondary">
                                    53 people refferred
                                </h6>
                            </div>
                        </div>
                   </div>
                </th>
                <th>
                    <h1 class="badge badge-success">migrated</h1>
                </th>
                <th>
                    <div class="row">
                        <div>
                            <img src="avatar.jpg" class="avatar" alt="">
                        </div>
                        <div class="colomn mb-3 pl-1">
                            <div>
                                <h6 class="ml-1">
                                    All Referrers list
                                </h6>
                            </div>
                            <div>
                                <h6 class="ml-1 text-secondary">
                                    53 people refferred
                                </h6>
                            </div>
                        </div>
                   </div>
                </th>
            </tr>

            <tr class="border-bottom">
                <th>
                    <input type="checkbox" class="pr-5 mr-5 pr-5 ml-5 mb-4">
                </th>
                <th>
                   <div class="row">
                        <div>
                            <img src="avatar.jpg" class="avatar" alt="">
                        </div>
                        <div class="colomn mb-3 pl-1">
                            <div>
                                <h6 class="ml-1">
                                    All Referrers list
                                </h6>
                            </div>
                            <div>
                                <h6 class="ml-1 text-secondary">
                                    53 people refferred
                                </h6>
                            </div>
                        </div>
                   </div>
                </th>
                <th>
                    <h1 class="badge badge-success">migrated</h1>
                </th>
                <th>
                    <div class="row">
                        <div>
                            <img src="avatar.jpg" class="avatar" alt="">
                        </div>
                        <div class="colomn mb-3 pl-1">
                            <div>
                                <h6 class="ml-1">
                                    All Referrers list
                                </h6>
                            </div>
                            <div>
                                <h6 class="ml-1 text-secondary">
                                    53 people refferred
                                </h6>
                            </div>
                        </div>
                   </div>
                </th>
            </tr>


            <tr class="border-bottom">
                <th>
                    <input type="checkbox" class="pr-5 mr-5 pr-5 ml-5 mb-4">
                </th>
                <th>
                   <div class="row">
                        <div>
                            <img src="avatar.jpg" class="avatar" alt="">
                        </div>
                        <div class="colomn mb-3 pl-1">
                            <div>
                                <h6 class="ml-1">
                                    All Referrers list
                                </h6>
                            </div>
                            <div>
                                <h6 class="ml-1 text-secondary">
                                    53 people refferred
                                </h6>
                            </div>
                        </div>
                   </div>
                </th>
                <th>
                   <h1 class="badge badge-success">migrated</h1>
                </th>
                <th>
                    <div class="row">
                        <div>
                            <img src="avatar.jpg" class="avatar" alt="">
                        </div>
                        <div class="colomn mb-3 pl-1">
                            <div>
                                <h6 class="ml-1">
                                    All Referrers list
                                </h6>
                            </div>
                            <div>
                                <h6 class="ml-1 text-secondary">
                                    53 people refferred
                                </h6>
                            </div>
                        </div>
                   </div>
                </th>
            </tr>

        </table>
