<div class="container-fluid row">
    <div class="col-1">
        <img src="avatar.jpg" class="avatar1" alt="">
    </div>

    <div class="colomn mb-3">
        <div><h4>All Referrers list</h4></div>
        <div><h6 class="text-secondary">53 people refferred</h6></div>
    </div>
</div>

<div class=" row">
    <div class="col-3 border-right mb-3">
        <app-card-seven></app-card-seven>
    </div>
    <div class="col-3 mb-3">
        <app-card-eight></app-card-eight>
    </div>
</div>

<table>
    <tr class=" border-bottom pb-5">
        <th>
            <input type="checkbox" class="pr-5 mr-5 pr-5 ml-5 mb-4">
        </th>
        <th>
            Name
        </th>
        <th>
            Status
        </th>
        <th>
            Referred by
        </th>
    </tr>
    <tr class=" border-bottom">
        <td>
            <input type="checkbox" class="pr-5 mr-5 pr-5 ml-5">
        </td>
        <td class=" pt-3">
            <div class="row">
                <div>
                    <img src="avatar.jpg" class="avatar" alt="">
                </div>
                <div class="colomn mb-3 pl-1">
                    <div><h6 class="ml-1">All Referrers list</h6></div>
                    <div><h6 class="ml-1 text-secondary">53 people refferred</h6></div>
                </div>
            </div>
        </td>
        <hr>
        <td>
            <div class="Migrated text-white pb-2 mb-3 pb-4 px-1">
                Migrated
            </div> 
        </td>
        <td class="pt-3">
            <div class="row">
            <div>
                <img src="avatar.jpg" class="avatar" alt="">
            </div>
            </div>
        </td>

        <div class="colomn mb-3 pl-1">
            <div>
                <h6 class="ml-1">
                    All Referrers list
                </h6>
            </div>
            <div>
                <h6 class="ml-1 text-secondary">
                    53 people refferred
                </h6>
            </div>
        </div>

            <tr class=" border-bottom">
                <td>
                    <input type="checkbox" class="pr-5 mr-5 pr-5 ml-5">
                </td>
                <td class=" pt-3">
                  <div class="row">
                      <div>
                          <img src="avatar.jpg" class="avatar" alt="">
                      </div>
                  <div class="colomn mb-3 pl-1">
                      <div><h6 class="ml-1">All Referrers list</h6></div>
                      <div><h6 class="ml-1 text-secondary">53 people refferred</h6></div>
                  </div>
                  <hr>
                <td>
                    <div class="Migrated text-white pb-2 mb-3 pb-4 px-1">
                        Migrated
                      </div> 
                </td>
                <td class="pt-3"><div class="row">
                  <div>
                      <img src="avatar.jpg" class="avatar" alt="">
                  </div>
  
              <div class="colomn mb-3 pl-1">
                  <div>
                      <h6 class="ml-1">
                          All Referrers list
                      </h6>
                  </div>
                  <div>
                      <h6 class="ml-1 text-secondary">
                          53 people refferred
                      </h6>
                  </div>
              </div>

              <tr class=" border-bottom">
                <td>
                    <input type="checkbox" class="pr-5 mr-5 pr-5 ml-5">
                </td>
                <td class=" pt-3">
                  <div class="row">
                      <div>
                          <img src="avatar.jpg" class="avatar" alt="">
                      </div>
                  <div class="colomn mb-3 pl-1">
                      <div><h6 class="ml-1">All Referrers list</h6></div>
                      <div><h6 class="ml-1 text-secondary">53 people refferred</h6></div>
                  </div>
                  <hr>
                <td>
                    <div class="Migrated text-white pb-2 mb-3 pb-4 px-1">
                        Migrated
                      </div> 
                </td>
                <td class="pt-3"><div class="row">
                  <div>
                      <img src="avatar.jpg" class="avatar" alt="">
                  </div>
  
              <div class="colomn mb-3 pl-1">
                  <div>
                      <h6 class="ml-1">
                          All Referrers list
                      </h6>
                  </div>
                  <div>
                      <h6 class="ml-1 text-secondary">
                          53 people refferred
                      </h6>
                  </div>
              </div>

              <tr class=" border-bottom">
                <td>
                    <input type="checkbox" class="pr-5 mr-5 pr-5 ml-5">
                </td>
                <td class=" pt-3">
                  <div class="row">
                      <div>
                          <img src="avatar.jpg" class="avatar" alt="">
                      </div>
                  <div class="colomn mb-3 pl-1">
                      <div><h6 class="ml-1">All Referrers list</h6></div>
                      <div><h6 class="ml-1 text-secondary">53 people refferred</h6></div>
                  </div>
                  <hr>
                <td>
                    <div class="Migrated text-white pb-2 mb-3 pb-4 px-1">
                        Migrated
                      </div> 
                </td>
                <td class="pt-3"><div class="row">
                  <div>
                      <img src="avatar.jpg" class="avatar" alt="">
                  </div>
  
              <div class="colomn mb-3 pl-1">
                  <div>
                      <h6 class="ml-1">
                          All Referrers list
                      </h6>
                  </div>
                  <div>
                      <h6 class="ml-1 text-secondary">
                          53 people refferred
                      </h6>
                  </div>
              </div>

              <tr class=" border-bottom">
                <td>
                    <input type="checkbox" class="pr-5 mr-5 pr-5 ml-5">
                </td>
                <td class=" pt-3">
                  <div class="row">
                      <div>
                          <img src="avatar.jpg" class="avatar" alt="">
                      </div>
                  <div class="colomn mb-3 pl-1">
                      <div><h6 class="ml-1">All Referrers list</h6></div>
                      <div><h6 class="ml-1 text-secondary">53 people refferred</h6></div>
                  </div>
                  <hr>
                <td>
                    <div class="Migrated text-white pb-2 mb-3 pb-4 px-1">
                        Migrated
                      </div> 
                </td>
                <td class="pt-3"><div class="row">
                  <div>
                      <img src="avatar.jpg" class="avatar" alt="">
                  </div>
  
              <div class="colomn mb-3 pl-1">
                  <div>
                      <h6 class="ml-1">
                          All Referrers list
                      </h6>
                  </div>
                  <div>
                      <h6 class="ml-1 text-secondary">
                          53 people refferred
                      </h6>
                  </div>
              </div>

              <tr class=" border-bottom">
                <td>
                    <input type="checkbox" class="pr-5 mr-5 pr-5 ml-5">
                </td>
                <td class=" pt-3">
                  <div class="row">
                      <div>
                          <img src="avatar.jpg" class="avatar" alt="">
                      </div>
                  <div class="colomn mb-3 pl-1">
                      <div><h6 class="ml-1">All Referrers list</h6></div>
                      <div><h6 class="ml-1 text-secondary">53 people refferred</h6></div>
                  </div> 
                  </div>
                </td>
                <hr>
                <td>
                    <div class="Migrated text-white pb-2 mb-3 pb-4 px-1">
                        Migrated
                    </div> 
                </td>
                <td class="pt-3">
                    <div class="row">
                      <img src="avatar.jpg" class="avatar" alt="">
                    </div>
                </td>
  
              <div class="colomn mb-3 pl-1">
                  <div>
                      <h6 class="ml-1">
                          All Referrers list
                      </h6>
                  </div>
                  <div>
                      <h6 class="ml-1 text-secondary">
                          53 people refferred
                      </h6>
                  </div>
              </div>