
<div class="item-wrapper" *ngIf="list">
    <div (click)="onClicked(user)"  [class.border-bottom]="i == 0"  *ngFor="let user of list;let i = index" class="item d-flex align-items-center mb-3">
        <div class="">
           <img [src]="user.picture.thumbnail" class="rounded-circle me-2 ">
        </div>
        <div class="">
            {{ user.name.title }}
            {{ user.name.first }}
            {{ user.name.last }}
        </div>
    </div>
</div>

<div class="item-wrapper d-flex align-items-center justify-content-center" *ngIf="!list">
    No data
</div>
