<div class=" row col-12 contact contact1 font-weight-bold mt-2">
    <div class="">
        <img src="avatar.jpg" class="avatar" alt="">
    </div>

    <div class="justify-content-center col-10 mt-1"> All Referrers</div>
    <div class="d-flex text-right col-1 justify-content-end oo text-left mt-1">60</div>
</div>

<hr>

<div class="container-fluid row col-12 contact font-weight-bold">
    <div class="my-2 ">
        <img src="avatar.jpg" class="avatar" alt="">
    </div>

    <div class="justify-content-center col-10 my-auto"> Aminah Hardin</div>
    <div class=" mb-2 d-flex text-right col-1 justify-content-end oo text-right my-auto">33</div>
</div>

<div class="container-fluid row col-12 contact font-weight-bold">
    <div class="my-2">
        <img src="avatar.jpg" class="avatar" alt="">
    </div>

    <div class="justify-content-center col-10 my-auto">Alyasha Zuniga</div>
    <div class="d-flex text-right col-1 my-auto justify-content-end oo text-left">4</div>
</div>

<div class="container-fluid row col-12 contact font-weight-bold">
    <div class="my-2">
        <img src="avatar.jpg" class="avatar" alt="">
    </div>

    <div class="justify-content-center col-10 my-auto">Anaya Molcomb with a lon</div>
    <div class="d-flex text-right col-1 my-auto justify-content-end oo text-left">4</div>
</div>

<div class="container-fluid row col-12 contact font-weight-bold">
    <div class="my-2">
        <img src="avatar.jpg" class="avatar" alt="">
    </div>

    <div class="justify-content-center col-10 my-auto">Bob Smith</div>
    <div class="d-flex text-right col-1 my-auto justify-content-end oo text-left">2</div>
</div>

<div class="container-fluid row col-12 contact font-weight-bold">
    <div class="my-2">
        <img src="avatar.jpg" class="avatar" alt="">
    </div>

    <div class="justify-content-center col-10 my-auto">Arya Vector</div>
    <div class="d-flex text-right col-1 my-auto justify-content-end oo text-left">5</div>
</div>